variables:
   DOCKER_DRIVER: overlay2
   DOCKER_TLS_CERTDIR: ""
stages:
  - build
  - deploy

build_apk:
  stage: build
  image: docker:19.03.0
  services:
    - docker:19.03.0-dind
  script:
    - echo "building..."
    - docker run --rm -v $PWD:/projects/app -w /projects/app gitlab.misasa.okayama-u.ac.jp:4567/titanium/titanium:37e506823bc986df4683dd7c8f1f2b4c6edcaf0a titanium build -p android -b
  artifacts:
    paths:
      - build/android/app/build/outputs/apk 

job_deploy_to_public_server:
  stage: deploy
  image:  btmash/alpine-ssh-rsync:latest
  before_script:
    - set +x
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - set -x
    - chmod 600 ~/.ssh/id_rsa

  script:
     - ls
#    - rsync -avh --delete ./* falcon@dream.misasa.okayama-u.ac.jp:/home/falcon/public_html/documentation/
#    - ssh falcon@dream.misasa.okayama-u.ac.jp 'gem generate_index -d /home/falcon/public_html/documentation/rubygems -u'
